body {
    margin: 0;
    background: #050515;
    color: white;
    text-align: center;
    font-family: Arial;
}

#userBox {
    padding: 5px;
    color: cyan;
    text-align: left;
}

.game {
    height: 60vh;
    position: relative;
    overflow: hidden;
}

#water {
    position: absolute;
    bottom: 0;
    width: 200%;
    height: 120px;
    background: linear-gradient(#003366,#001122);
    animation: wave 3s linear infinite;
}

@keyframes wave {
    100% { transform: translateX(-50%); }
}

#boat {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 45px;
}

.shake {
    animation: shake 0.1s infinite;
}

@keyframes shake {
    50% { transform: translateX(-48%); }
}

#multiplier {
    font-size: 45px;
    color: #00ffcc;
}

button {
    padding: 10px;
    margin: 5px;
    background: cyan;
    border: none;
}

.history-item { margin: 4px; }
.blue { color: #00bfff; }
.purple { color: #b266ff; }
.pink { color: #ff4dff; }

#popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    display: none;
}

/* splash */
.splashBody {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.loader {
    width:40px;
    height:40px;
    border:4px solid cyan;
    border-top:transparent;
    border-radius:50%;
    animation:spin 1s linear infinite;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}